<div class="container mt-4" style="padding-left: 5%;">
    <div class="row">
        <div class="col-md-4" style="padding: 1%; " >
        <div class="card" style="width: 18rem;">
            <img src="../../assets/img/tigre.png" class="img-thumbnail" alt="...">
            <div class="card-body">
            
            <p class="card-text text-center">
                <span class="d-inline-block h4 align-self-center " style="max-width: 100%; text-decoration-color: darkgreen;">
                    Tigre
                </span>
            </p>
            <div class="d-grid gap-2">
                <button class="btn btn-success" id="fondo" type="button">Ver</button>
            </div>
            </div>
        </div>
    </div>

</div>
</div>

            