<div class="container card" >
    <div class="row card-body align-items-center">
      <div class="col align-self-center">
        <form>

        
           <div  class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="Escribe tu nombre...">
            <label for="floatingInput">Nombre de especie</label>
          </div><br> <br>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
  