<div class="container-fluid" style="padding:5%; background-color: rgb(6, 69, 24);">
    <div class="row">
      <div class="col-md-6">
        
          <div style="color: azure;" id="texto">
            <h1>Quienes somos?</h1>
            <h5> <p>El Zoológico Guadalajara es un organismo público descentralizado del H. Ayuntamiento de Guadalajara. Es administrado desde su creación, por un Consejo integrado por prominentes
                 empresarios Jaliscienses. Enclavado en la Barranca de Huentitán, surgió como una necesidad de que la sociedad jalisciense contara con un lugar de sano esparcimiento familiar, además
                  de un espacio que le permitiera despertar su interés por la conservación de la naturaleza. Fue inaugurado el 11 de Marzo de 1988 por el Presidente de la 
                República Mexicana Miguel de la Madrid Hurtado acompañado del Gobernador del Estado Lic. Enrique Álvarez del Castillo. El día 25 del mismo mes, abrió sus puertas al público. 
                El Zoológico Guadalajara tiene tres décadas de servir al público tapatío y nacional, así como a turistas de otras partes del mundo. Está considerado uno de los pocos zoológicos autofinanciables del País. 
                Cuenta con 50 hectáreas completamente desarrolladas, donde se ha respetado la topografía del terreno, así como árboles y flora existentes.</p></h5>
                
          </div>
          <p>hola</p>
         
        </div>

      <div  class="col-6">
          <img class="card-img-top" src="assets/img/zoo.png"> 
      </div>
    </div>
  </div>

  <div class="container-fluid" style="padding:5%; background-color: rgb(255, 255, 255);">
  
    <div class=" text-center text-success logo h2 align-self-center" style=" size: 3cm; color: rgb(4, 32, 44);" ><h1>Historia</h1></div> <br><br>
    <div class="container-fluid" >
        <img class="card-img-top" src="assets/img/acerca.PNG"> 
    </div>
    

    